//
// Anchors
//

a {
    color: #049377 !important;
    font-weight: 600 !important;
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:hover {
    color: #090606 !important;
    font-weight: 600 !important;
}
