//
// Colors
//

// MD colors
// -----------------------------------------------------------------------------

$gray-50:                               #fafafa !default;
$gray-100:                              #f5f5f5 !default;
$gray-200:                              #eee !default;
$gray-300:                              #e0e0e0 !default;
$gray-400:                              #bdbdbd !default;
$gray-500:                              #9e9e9e;
$gray-600:                              #757575 !default;
$gray-700:                              #616161 !default;
$gray-800:                              #424242 !default;
$gray-900:                              #212121 !default;
$gray-a100:                             #f5f5f5 !default;
$gray-a200:                             #eee !default;
$gray-a400:                             #bdbdbd !default;
$gray-a700:                             #616161 !default;

$teal-50:                               #e0f2f1 !default;
$teal-100:                              #b2dfdb !default;
$teal-200:                              #80cbc4 !default;
$teal-300:                              #4db6ac !default;
$teal-400:                              #26a69a !default;
$teal-500:                              #009688 !default;
$teal-600:                              #00897b !default;
$teal-700:                              #00796b !default;
$teal-800:                              #00695c !default;
$teal-900:                              #004d40 !default;
$teal-a100:                             #a7ffeb !default;
$teal-a200:                             #64ffda !default;
$teal-a400:                             #1de9b6 !default;
$teal-a700:                             #00bfa5 !default;
$teal:                                  $teal-500 !default;

$blue-gray-50:                          #eceff1 !default;
$blue-gray-100:                         #cfd8dc !default;
$blue-gray-200:                         #b0bec5 !default;
$blue-gray-300:                         #90a4ae !default;
$blue-gray-400:                         #78909c !default;
$blue-gray-500:                         #607d8b !default;
$blue-gray-600:                         #546e7a !default;
$blue-gray-700:                         #455a64 !default;
$blue-gray-800:                         #37474f !default;
$blue-gray-900:                         #263238 !default;
$blue-gray-a100:                        #cfd8dc !default;
$blue-gray-a200:                        #b0bec5 !default;
$blue-gray-a400:                        #78909c !default;
$blue-gray-a700:                        #455a64 !default;
$blue-gray:                             $blue-gray-500 !default;

// Color System
// -----------------------------------------------------------------------------

$primary:                               $teal-500;
$secondary:                             $blue-gray-700;

// The contrast ratio to reach against white, to determine if color changes
// from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
//
$min-contrast-ratio:                    2.4;
